<button class = 'back btnStyle'>Main Menu</button>

<div class = 'credTextWrapper'>
<span class = 'credText text'>Game Creator:</span><br />
<span class = 'indentText text'>Justin Permann</span><br />
<span class = 'credText text'>Game Designed with:</span><br />
<span class = 'indentText text'>Node.js</span><br />
<span class = 'credText text'>Game Designed For:</span><br />
<span class = 'indentText text'>CS 5410</span><br />
<span class = 'credText text'>Music Courtesy of:</span><br />
<span class = 'indentText text'>Super Mario Bros</span>
</div>
